@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DejaVu";
    src: url('/fonts/dejavu.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DejaVu";
    src: url('/fonts/dejavu-oblique.ttf');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "DejaVu";
    src: url('/fonts/dejavu-bold.ttf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu";
    src: url('/fonts/dejavu-bold-oblique.ttf');
    font-style: italic;
    font-weight: bold;
}

@layer base {
    html, body {
        @apply overflow-hidden;
        overscroll-behavior: contain;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}