@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mono";
    src: url('/fonts/dejavu.ttf');
}

* {
    font-variant-ligatures: none;
}

@layer base {
    html, body {
        @apply overflow-hidden;
        overscroll-behavior: contain;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}