:root {
  --font-family: 'custom_mono';
  line-height: 20px;

  background-color: #29272B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  font-family: var(--font-family)
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

textarea {
  font-family: var(--font-family)
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  resize: none;
  outline: none;  
}